<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">
<!--  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">-->
<!--    <a class="navbar-brand" href="/"><img src="images/item2/mainlogo5.png" alt="image"></a>-->
<!--    <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--            data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03"-->
<!--            aria-expanded="false" aria-label="Toggle navigation">-->
<!--      <span class="navbar-toggler-icon"></span>-->
<!--    </button>-->
<!--    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">-->
<!--      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--          <a class="nav-link" href="/admin/item/new" style="color:white; font-size: 17px;">상품 등록</a>-->
<!--        </li>-->
<!--        <li class="nav-item" sec:authorize="hasAnyAuthority('ROLE_ADMIN')">-->
<!--          <a class="nav-link" href="/admin/items" style="color:white; font-size: 17px;">상품 관리</a>-->
<!--        </li>-->
<!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--          <a class="nav-link" href="/cart" style="color:white; font-size: 17px;">장바구니</a>-->
<!--        </li>-->
<!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--          <a class="nav-link" href="/orders" style="color:white; font-size: 17px;">주문내역</a>-->
<!--        </li>-->
<!--        <li class="nav-item" sec:authorize="isAnonymous()">-->
<!--          <a class="nav-link" href="/member/login" style="color:white; font-size: 17px;">로그인</a>-->
<!--        </li>-->
<!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--          <a class="nav-link" href="/member/logout" style="color:white; font-size: 17px;">로그아웃</a>-->
<!--        </li>-->
<!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--          <a class="nav-link" href="/tailorshop" style="color:white; font-size: 17px;">Tailor Shop</a>-->
<!--        </li>-->
<!--        <li class="nav-item" sec:authorize="isAuthenticated()">-->
<!--          <a class="nav-link" href="/hanbok" style="color:white; font-size: 17px;">한복</a>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <form class="form-inline my-2 my-lg-0" th:action="@{/}" method="get">-->
<!--        <input name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit" style="color:white;">Search</button>-->
<!--      </form>-->
<!--    </div>-->
<!--  </nav>-->
<!--</div>-->

</html>